@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply overflow-x-hidden;
    scrollbar-gutter: stable;
  }

  body {
    @apply overflow-x-hidden w-screen;
  }

  /* Smooth theme transition */
  html.theme-transition,
  html.theme-transition *,
  html.theme-transition *:before,
  html.theme-transition *:after {
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
      border-color 0.3s ease-in-out !important;
    transition-delay: 0s !important;
  }
}
